#todo-error{
  color: red;
  font-size: 2em;
}

html, body {
    margin: 0;
    height: 100%;
font-family: 'Questrial', sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

.card {
  background: transparent;
  border: transparent;
}

.texty {
  text-shadow: -2px 2px 3px black;
  color: white;
}

.todos {
  background-color: rgba(0, 0, 0, 0.452);
}

.weather {
  font-size: 1.5em;
}

#clock {
font-size: 7em;
margin-bottom: -0.25em;
}

#date{
font-size: 4em;
}

.fas {
  margin-left: 0.5em;
  margin-right: 0.5em

}

#count {
  font-size: 1.25em;
}

.fas:hover {
  cursor: pointer; 
  text-shadow: -3px 3px 4px black;
}

.fas:active {
  cursor: pointer; 
  text-shadow: 0px 0px 3px black;
}

